[submodule ".registry"]
	path = .registry
	url = https://github.com/ices-tools-dev/universe
	shallow = true
	branch = HEAD
[submodule "icesRDBES"]
	path = icesRDBES
	url = https://github.com/ices-tools-dev/icesRDBES
	shallow = true
	registered = true
[submodule "NephAssess"]
	path = NephAssess
	url = https://github.com/ices-tools-dev/NephAssess
	shallow = true
	registered = true
